h1 {
    color: rgb(255, 255, 255);
    font-family: Calibri, sans-serif;
    text-align: center;
}
h2 {
    color:white;
    font-family: Calibri, sans-serif;
    font-style:italic;
    text-align: center;
}

h3 {
    color:white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}
